<app-back-button></app-back-button>
<div>
  <!--  Header row with lobby code-->
  <div class="row justify-content-center">
    <h1>GAME CODE: {{(this.gameService.game$ |async)?.code}}</h1>
  </div>

  <!--  Add player input-->
  <div class="row justify-content-around">
    <div class="col-sm-5 col-md-4">


      <div class="row justify-content-center">
        <div>
          Add a gamer
        </div>
      </div>


      <div class="row justify-content-center">
        <form class="col-12" (ngSubmit)="addPlayerToGame()">
          <div class="input-group mb-3">
            <input type="text" [(ngModel)]="newPlayer" name="newPlayer" class="form-control" maxlength="15"
                   placeholder="Epic Joe" aria-label="Epic Joe" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-dark" type="submit">+</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="col-sm-5">

      <div class="row justify-content-center">
        <div class="row">
          Game Length
        </div>
      </div>

      <div class="row justify-content-center">
        <fa-icon (click)="decreaseGameRounds()" [icon]="faMinus" class="align-self-center game-length-icon"></fa-icon>
        <h3>{{ gameRounds }}</h3>
        <fa-icon (click)="increaseGameRounds()" [icon]="faPlus" class="align-self-center game-length-icon">-</fa-icon>

      </div>
    </div>
  </div>
  <!--  </div>-->

  <div class="row">
    <!--   <div class="col"></div>-->
    <h2>Who's playin' </h2>
  </div>
  <!--  {{game$ | async | json}}-->
  <div class="row justify-content-start player-board">
    <ul class="col-6">
      <li *ngFor="let player of players">
        {{player}}
      </li>
    </ul>

  </div>


  <div class="row justify-content-end">
    <div class="play-button col-lg-4 col-sm-6" style="margin-top: 30px;">
      <a (click)="startGame()">Start game</a>
    </div>
  </div>
</div>
