<div class="wrapper container-fluid">
  <div class="row justify-content-center">
    <div class="title col-md-6 col-sm-12">Big Toe</div>
  </div>
  <div class="row justify-content-center">
    <span style="color: yellow; text-align: center">UNDER CONSTRUCTION!</span>
  </div>
  <div class="row justify-content-lg-center justify-content-sm-around">
    <div class="play-button col-lg-4 col-sm-3">
      <a (click)="createGame()">Create Game</a>
    </div>
    <div class="play-button col-lg-4 col-sm-3">
      <a routerLink="/game">Join Game</a>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4 add-prompt">
      <a routerLink="/add">Add some prompts!</a>
    </div>
  </div>

</div>
